<<<<<<< HEAD
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
.first img {
position:relative;
height: 200px;
width:400px;
}
.second {
position: absolute;
top:200px;
height: 200px;
width:400px;
background-color: black;

}
.operate {
display:flex;
justify-content: flex-start;
}
.text {
   
    margin-top:20px;
    color: aliceblue;
    font-size: medium;
    margin-bottom: 20px;
}
#green {
    color: green;
    font-size: medium;
}
.operate img {
    max-height:50px;
    max-width:50px;
    color: white;
=======
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
.first img {
position:relative;
height: 200px;
width:400px;
}
.second {
position: absolute;
top:200px;
height: 200px;
width:400px;
background-color: black;

}
.operate {
display:flex;
justify-content: flex-start;
}
.text {
   
    margin-top:20px;
    color: aliceblue;
    font-size: medium;
    margin-bottom: 20px;
}
#green {
    color: green;
    font-size: medium;
}
.operate img {
    max-height:50px;
    max-width:50px;
    color: white;
>>>>>>> b34b29e41bebb5f63427d1a64582962e3c52d9e0
    }